@import "colors";

/* DEFAULT STYLE */
html {
    font-size: 16px;
}

body {
    min-height: 100%;
    background-color: $gray-200;
}

p {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.25rem;
}

/* Add offset to anchor scroll */
:target:before {
    display: block;
    content: "";
    height: 6.3125rem;
    margin-top: -6.3125rem;
}

/* Remove bootstrap box shadows */
input:focus {
    box-shadow: none !important;
}
select:focus {
    box-shadow: none !important;
}
a:focus {
    box-shadow: none !important;
}
button:focus {
    box-shadow: none !important;
}
textarea:focus {
    box-shadow: none !important;
}

.container-lg {
    padding: 0;
}




/* NAVBAR */
/* Primary */
#primary-navbar {
    padding: 0.4375rem 0 0.375rem 0;
}

#primary-navbar .container-lg {
    padding: 0 3.75rem;
}

#primary-navbar .nav-link {
    color: $gray-200;
    font-size: 1.0625rem;
    font-weight: 500;
}
#primary-navbar .nav-link:hover {
    color: $white;
}

#primary-navbar .nav-link::after {
    display: block;
    content: "";
    border-bottom: 2px solid $white;
    opacity: 0;
}

#primary-navbar .nav-link:hover::after {
    opacity: 1;
}

.primary-navbar-icon {
    padding: 0.1875rem 0.5rem 0.0625rem 0;
}
.primary-navbar-icon img {
    width: 2.4375rem;
}

#primary-navbar-box {
    min-height: 3.5rem;
}

/* Secondary */
#secondary-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.075);
    z-index: 100;
    margin-top: 3.5rem;
    background-color: $white;
    opacity: 0.9;
}

#secondary-navbar .container-lg {
    padding: 0 3.75rem;
}

#secondary-navbar .nav {
    padding-left: 2.4375rem;
}

#secondary-navbar-box {
    min-height: 2.5rem;
}




/* MAIN */
#main-box {
    position: relative;
    margin: 1.875rem 3.75rem;
    padding: 2.5rem 3.125rem 0.01rem 3.125rem;
    border-radius: 0.25rem;
    background-color: $white;
    box-shadow: .25rem .25rem .25rem rgba(0, 0, 0, 0.075);
}

#main-box section {
    margin-bottom: 3.75rem;
}

#main-box section.section-grid {
    margin-bottom: 0;
}

#main-box section.section-grid > .row > div {
    margin-bottom: 3.75rem;
}

#main-box > h1 {
    font-size: 2.75rem;
    margin: auto;
    margin-bottom: 4.375rem;
    text-align: center;
    width: 74%;
}
#main-box h2 {
    font-size: 1.875rem;
    margin-bottom: 0.75rem;
}

#main-box h3 {
    font-size: 1.625rem;
    font-weight: 400;
}




/* FOOTER */
#footer {
    margin-top: auto;
    margin-bottom: 0.9375rem;
    text-align: center;
}

.social {
    margin-bottom: 0.625rem;
}

.social-icon {
    display: inline-block;
    color: $gray-550;
    font-size: 1.5rem;
    line-height: 2.375rem;
    border: 2px solid $gray-550;
    border-radius: 50%;
    margin: 0 0.625rem;
    width: 2.625rem;
    height: 2.625rem;
}
.social-icon:hover {
    color: $gray-600;
    border-color: $gray-600;
}

.social-icon-s {
    font-size: 1.375rem;
}

.social-icon-l {
    font-size: 1.625rem;
}

.footer-copyright {
    color: $gray-650;
    font-size: 1rem;
    font-weight: 400;
}




/* BANNER */
.banner {
    position: absolute;
    top: 3.5rem;
    left: 0;
    right: 0;
    height: 26.25rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.banner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background: $white;
    opacity: 0.2;
}

.banner-solid {
    position: static;
}




/* TABLE */
.table-col-minwidth {
    width: 0.01rem;
}

.highlight-row {
    background-color: $yellow-100 !important;
}

.highlight-row:hover {
    background-color: $yellow-150 !important;
}

/* data-table */
table.data-table {
    min-width: 99%;
    margin-top: 0 !important;
}

.data-table th,
.data-table td {
    border-color: $gray-300 !important;
}

.data-table th {
    white-space: nowrap;
}

.data-table td {
    vertical-align: middle;
}

.data-table tbody tr:nth-child(odd) {
    background-color: $gray-100;
}
.data-table tbody tr:hover {
    background-color: $gray-200;
}

.data-table-nohead th {
    margin: 0;
    padding: 0;
    height: 0;
}

.paginate_button.active a {
    background-color: $blue-400 !important;
    border-color: $blue-400 !important;
}

/* meta-table */
.meta-table th,td {
    padding: 0.5rem 0.625rem;
}
.meta-table th {
    background-color: $gray-100;
    border: 1px solid $gray-300;
    border-right: none;
}
.meta-table td {
    border: 1px solid $gray-300;
    border-left: none;
    padding-right: 1.25rem;
}




/* ACCORDION */
.accordion-header {
    background-color: $gray-100;
}

.accordion-button:focus {
    border-color: $gray-400;
}




/* FORM */
.form-item {
    margin-bottom: 1.875rem;
}

.form-required::after {
    color: $red-400;
    font-weight: 600;
    content: " * ";
}

input:invalid,
select:invalid,
textarea:invalid {
    border-color: $red-400 !important;
}

.form-invalid-message {
    width: 100%;
    color: $red-400;
    font-size: 0.8125rem;
}

textarea {
    height: 6.875rem;
}

.input-file-dragenter {
    border-color: $blue-250;
}

/* Modal */
.modal-form .form-item {
    margin-bottom: 1rem;
}

/* Page */
.page-form {
    display: flex;
    align-items: center;
    min-height: 2.4375rem;
}

.page-form .input-group-text {
    background-color: $gray-100;
}

.page-form select {
    padding-right: 2rem !important;
}

/* CRUD */
.crud-form {
    margin: auto;
    max-width: 37.5rem;
}

/* Login */
.login-form {
    text-align: center;
}

.login-form .form-item {
    margin-bottom: 1rem;
}

.login-form input:invalid {
    border-color: $gray-400 !important;
}

.login-form button {
    width: 10rem;
}

/* Table */
.table-form {
    text-align: center;
    white-space: nowrap;
}

.table-form select {
    display: inline-block;
    min-width: 8.75rem;
    max-width: 13rem;
}

.table-form .form-check {
    margin-top: 0.125rem;
}

.table-form .form-check-input {
    margin-top: 0.3125rem;
}

.table-form-bottom .btn {
    margin: 0.125rem 0;
}

.dataTables_wrapper > .row > div {
    margin-bottom: 6px;
}

.dataTables_wrapper .row:first-child {
    flex-wrap: wrap-reverse;
}

div.dataTables_wrapper div.dataTables_filter input {
    width: 10rem;
}




/* ICON */
/* Page icon */
.page-icons {
    position: absolute;
    margin-top: 0.375rem;
}

.page-icons-left {
    left: 3.125rem;
}

.page-icons-right {
    right: 3.125rem;
    text-align: right;
}

.page-icons .navbar-collapse.show {
    padding-bottom: 0.3125rem;
    background-color: $gray-100;
    border: 2px solid $gray-300;
}

.page-icons-right .navbar-collapse.show {
    padding-left: 0.5rem;
}

.page-icons-left .navbar-collapse.show {
    padding-right: 0.5rem;
}

.page-icon-box {
    display: inline-block;
    text-align: center;
    width: 2.375rem;
}

.page-icon {
    font-size: 1.625rem;
    color: $gray-900;
    text-decoration: none;
}
.page-icon:hover {
    color: $gray-700;
}

.page-icon-text {
    display: none;
    font-size: 1.25rem;
}

.page-icons-always-collapsed .page-icon {
    font-size: 1.375rem;
}

.page-icons-always-collapsed .page-icon-text {
    display: inline;
}

/* New message circle */
.new-message-circle {
    display: inline-block;
    margin-left: -1.125rem;
    font-size: 0.875rem;
    color: $white;
    background-color: $red-400;
    width: 1.125rem;
    height: 1.125rem;
    border-radius: 50%;
    text-align: center;
    line-height: 1.0625rem;
}

/* Title icon */
.title-icon {
    float: right;
    margin-right: 1.125rem;
}

/* H2 icon */
.h2-icon {
    font-size: 1.5rem;
    padding-top: 0.3125rem;
}

/* Label icon */
.label-icon {
    font-size: 1.25rem;
    margin-top: -0.25rem;
}

/* table icon */
.table-icon-th {
    padding-right: 0.5rem !important;
}
.table-icon-th::before {
    content: "" !important;
}
.table-icon-th::after {
    content: "" !important;
}

.table-icon-cell {
    padding: 0 0.5rem 0 0 !important;
    white-space: nowrap;
    text-align: right;
}

.table-icon-col-first tr td:first-child {
    padding-left: 0.5rem !important;
}

.table-icon-col-last tr td:last-child {
    padding-right: 1.25rem !important;
}

.table-icon {
    font-size: 1.1875rem;
    text-decoration: none;
    margin-left: 0.5rem;
    vertical-align: middle;
}

.table-icon-s {
    font-size: 1.0625rem;
}

.table-icon-l {
    font-size: 1.375rem;
}

.table-icon-hide {
    visibility: hidden;
}
tr:hover .table-icon-hide {
    visibility: visible;
}

/* Role badge */
.role-badge {
    padding: 0.3125rem;
    text-align: center;
    width: 2.25rem;
}




/* SHAPE */
.circle {
    display: inline-block;
    border-radius: 50%;
    width: 1.25rem;
    height: 1.25rem;
}

.circle-s {
    width: 0.625rem;
    height: 0.625rem;
}




/* LIST */
.multi-col-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: fit-content;
}

.multi-col-list .list-item {
    padding-right: 1.875rem;
}




/* PAGE */
/* Login and register */
#login #main-box,
#register #main-box {
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#login img,
#register img {
    width: 8.125rem;
    margin-bottom: 1.5rem;
}

#login h1,
#register h1 {
    font-size: 2.375rem;
    font-weight: 400;
    width: 100%;
    margin-bottom: 1rem;
}

/* Player edit */
#player-edit #username-preview {
    display: block;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.625rem;
    font-weight: 500;
    background: black;
	-webkit-text-fill-color: transparent;
    background-clip: text;
	-webkit-background-clip: text;
}

#player-edit #username-color-l,
#player-edit #username-color-r {
    max-width: 2.5rem;
}

#player-edit #discord-tag {
    max-width: 4.0625rem;
}

/* Leaderboard */
#leaderboard #community-ranking {
    min-width: 20rem;
}

#leaderboard #community-ranking .multi-col-list {
    margin-top: 2.9375rem;
    max-height: 6.25rem;
    margin-bottom: 1rem;
}




/* COLORS */
/* Gray */
.gray {
    color: $gray-550 !important;
}
.gray-h:hover {
    color: $gray-600 !important;
}
.bg-gray {
    background-color: $gray-550 !important;
    color: white;
}
.bg-gray-h:hover {
    background-color: $gray-600 !important;
    color: white;
}

/* Red */
.red {
    color: $red-400 !important;
}
.red-h:hover {
    color: $red-500 !important;
}
.bg-red {
    background-color: $red-400 !important;
    color: white;
}
.bg-red-h:hover {
    background-color: $red-500 !important;
    color: white;
}


/* Yellow */
.yellow {
    color: $yellow-400 !important;
}
.yellow-h:hover {
    color: $yellow-500 !important;
}
.bg-yellow {
    background-color: $yellow-400 !important;
    color: white;
}
.bg-yellow-h:hover {
    background-color: $yellow-500 !important;
    color: white;
}

/* Orange */
.orange {
    color: $orange-400 !important;
}
.orange-h:hover {
    color: $orange-500 !important;
}
.bg-orange {
    background-color: $orange-400 !important;
    color: white;
}
.bg-orange-h:hover {
    background-color: $orange-500 !important;
    color: white;
}

/* Teal */
.teal {
    color: $teal-550 !important;
}
.teal-h:hover {
    color: $teal-600 !important;
}
.bg-teal {
    background-color: $teal-550 !important;
    color: white;
}
.bg-teal-h:hover {
    background-color: $teal-600 !important;
    color: white;
}

/* Blue */
.blue {
    color: $blue-400 !important;
}
.blue-h:hover {
    color: $blue-500 !important;
}
.bg-blue {
    background-color: $blue-400 !important;
    color: white;
}
.bg-blue-h:hover {
    background-color: $blue-500 !important;
    color: white;
}